.mymetadata
.checkstyle
.classpath
.project
.class
.pyc
.war
.zip
.rar
.tgz
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
*/target/*
.project
.classpath
.settings
.project
.class
target
/logs/*

*.log
.DS_Store
bin
.idea
.ckp
.tlog
.st
.idea/workspace.xml
